.title-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: -50px;
}

.left-grid {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}

.right-grid {
  width: 50%;
  min-height: 100vh;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.btns {
  margin: 5% 3% 5% 0;
}
